@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'TT Lakes', 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 88px;

}

.header__icon {
    width: 40px;
    height: 40px;

}

.header__layout-left {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    flex-grow: 1;
}

.header__burger {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 40%;
    margin-left: 10px;

}

.header__burger::after {
    content: "";
    display: none;
    width: 2px;
    height: 32px;
    border-radius: 3px;
    background-color: #EAEAEA;
    margin-left: auto;
    margin-right: auto;
    
}

.header__cps {
    width: 30%;
    height: 50px;
    flex-grow: 1;
}



.header__layout-right {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    
    flex-shrink: 1;
    margin-right: auto;
    margin-left: auto;
    
}

.header__call {
    display: none;
}

.header__chat {
    display: none;
}

.header__profile {
    display: none;
}

.header__repair {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    width: 30%;
    flex-grow: 1;
    
}

.header__repair::before {
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    border-radius: 3px;
    background-color: #EAEAEA;
    
    
}

.header__checkstatus {
    display: flex;
    flex-shrink: 1;
    margin-right: 10px;
    
}

.main {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
    overflow: hidden;

}



.main__icon {
    width: 40px;
    height: 40px;

}

.main__title-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.main__title {
    display: flex;
    font-size: 28px;
    letter-spacing: -2px;   

}

.main__title::before {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    margin-right: 10px;
}

.main__repair {
    display: none;
}

.main__checkstatus {
    display: none;
}

.main__slide-menu {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.main__slide {
    padding: 10px;
    
    font-size: 14px;
    overflow: hidden;
    flex-shrink: 0;
    border: none;
    background-color: inherit;

    
}

.main__slide—active {
    border: 3px solid  #B8FFEC;
    border-radius: 7px;
}

.main__slide-brands {
    display: none;
}

.main__slide-address {
    display: none;
}

.main__slide-reviews {
    display: none;
}

.main__paragraph-layout {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;

}



.main__paragraph-image {
    width: 100%;
    height: auto;
    flex: 1 1 auto;
    
}

.main__paragraph-article {
    margin-bottom: 10px;
}

.main__paragraph-readAfter {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    align-items: center;
}


@media screen and (min-width: 400px) and (max-width: 768px){

    .header {
        justify-content: space-between;
    }

    .header__layout-left{
        width: 40%;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .header__layout-right {
        justify-content: space-around;
        width: 40%;
        flex-grow: 0;
        margin-right: 40px;
    }

    .header__burger {
        width: 30%;
        justify-content: space-around;
    }

    .header__burger::after {
        display: block;
    }

    .header__call {
        display: block;
        width: 20%;
    }

    .header__chat {
        display: block;
        width: 20%;
    }

    .header__profile {
        display: block;
        width: 20%;
    }

    .header__repair {
        width: 20%;
        flex-grow: 0;
        justify-content: space-between;
    }

    .header__checkstatus {
        width: 20%;
        justify-content: center;
        margin: 0;
    }

    .main {
        width: 95%;
    }

    .main__title::before {
        content: "";
        display: block;
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        margin-right: 20px;
    }

    .main__paragraph-layout {
        flex-wrap: nowrap;
        width: 100%
    
    }

    .main__paragraph-layout-left {
        width: 50%;
    }

    .main__paragraph-layout-right {
        width: 50%;
    }

    .main__paragraph-article {
        display: block;
       width: 90%;
       margin: 0 auto;
        margin-bottom: 10px;
    } 

    .main__paragraph-readAfter {
        display: flex;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 20px;
    }
}

@media screen and (min-width: 769px) {
    .header {
        display: none;
    }

    .main {
        margin-top: 20px;
    }

    .main__title-layout {
        margin: 0;
        width: 100%;
    }

    .main__title-layout-left {
        display: flex;
        width: 50%;
        flex-shrink: 1;
    }
    
    .main__title {
        width: 100%;
        display: flex;
    }
    
    .main__title-layout-right {
        display: flex;
        width: 40%;
        justify-content: space-between;
  
        
    }

    .main__repair {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-evenly;

    }

    .main__repair::before {
        content: "Оставить заявку";
        display: block;
        
        
    }



    .main__checkstatus {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-evenly;

    }

    .main__checkstatus::before {
        content: "Статус ремонта";
        display: block;
    }

    .main__slide-menu {
        flex-wrap: wrap;
        margin-top: 10px;

    }

    .main__slide-brands {
        display: inline;
    }
    
    .main__slide-address {
        display: inline;
    }
    
    .main__slide-reviews {
        display: inline;
    }

    .main__paragraph-layout {
        flex-wrap: nowrap;
        width: 95%;
        margin-right: auto;
        margin-left: 0;

        
    
    }

    .main__paragraph-layout-left {
        width: 50%;
    }

    .main__paragraph-layout-right {
        width: 50%;
    }

    .main__paragraph-article {
        display: block;
       width: 90%;
       margin: 0 auto;
        margin-bottom: 10px;
    } 

    .main__paragraph-readAfter {
        display: flex;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 20px;
    }
}